h1 {
  text-align: center;
  text-decoration: underline;
  margin-top: 0px
}

h2 {
  margin-top: 0px;
}

.project{
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px;
  opacity: 1;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 5px solid white, 8px solid black;
}

.btn a {
  text-decoration: none;
  color: black;

}

footer {
  margin: 20px;
  text-align: center;
  font-size: 1.3em;
}